/* .leaders{
    height: 989px;
    display: flex;
    justify-content: center;
}

.our_team{
    width: 1000px;
    height: 773px;
    margin-top: 96px;
}

.team_intro{
    width: 800px;
    height: 251px;
}

.team_intro > p:first-child{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}

.team_intro>p:nth-of-type(2) {
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}

.team_intro>p:nth-of-type(3) {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}

.team_members{
    height: 470px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.member_name{
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 12px;
}

.member_status{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
} */


/*Tailwind*/

.leaders {
    @apply h-[989px] flex justify-center;
}

.our_team {
    @apply w-[1000px] h-[773px] mt-[96px];
}

.team_intro {
    @apply w-[800px] h-[251px];
}

.team_intro>p:first-child {
    @apply font-normal text-[20px] leading-[32px] text-[#777777];
}

.team_intro>p:nth-of-type(2) {
    @apply mt-[12px] mb-[20px] font-normal text-[48px] leading-[72px];
}

.team_intro>p:nth-of-type(3) {
    @apply font-normal text-[20px] leading-[32px] text-[#777777];
}

.team_members {
    @apply h-[470px] w-[1000px] flex justify-between;
}

.member_name {
    @apply font-normal text-[28px] leading-[48px] mb-[12px];
}

.member_status {
    @apply font-normal text-[20px] leading-[32px] text-[#777777];
}